<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/Frontend.css" rel="stylesheet" />
    @RenderSection("css", false)
</head>
<body>
    <div class="container-narrow">  

        @Html.Partial("_SiteMap")
        
        @RenderBody()

        @Html.Partial("_Footer")

    </div>
    <!-- /container -->
    <script src="~/Scripts/jquery-1.9.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    
    @RenderSection("scripts", required: false)
</body>
</html>
