@model twMVCWorkshop.Models.SystemUser

@{
    ViewBag.Title = "Delete";
}

<<h3>使用者管理</h3>

<fieldset>
    <legend>刪除</legend>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Account)</dt>
        <dd>@Html.DisplayFor(model => model.Account)</dd>

        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>

        <dt>@Html.LabelFor(model => model.CreateUser, new { @class = "control-label" })</dt>
        <dd>@Html.DisplayFor(model => model.CreateUser)</dd>

        <dt>@Html.LabelFor(model => model.CreateDate, new { @class = "control-label" })</dt>
        <dd>@Html.DisplayFor(model => model.CreateDate)</dd>

        <dt>@Html.LabelFor(model => model.UpdateUser, new { @class = "control-label" })</dt>
        <dd>@Html.DisplayFor(model => model.UpdateUser)</dd>

        <dt>@Html.LabelFor(model => model.UpdateDate, new { @class = "control-label" })</dt>
        <dd>@Html.DisplayFor(model => model.UpdateDate)</dd>
    </dl>
</fieldset>

@using (Html.BeginForm())
{
    <div id="ConfirmModal" class="modal small hide fade" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="ConfirmModalLabel">刪除確認</h3>
        </div>
        <div class="modal-body">
            <p class="error-text">
                是否確定要刪除此使用者?
            </p>
        </div>
        <div class="modal-footer">
            @Html.AntiForgeryToken()
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <input type="submit" class="btn btn-danger" value="刪除" />
        </div>
    </div>
}

<div class="form-actions">
    <a href="#" class="confirm-delete btn btn-success" data-toggle="modal">刪除</a> | 
    @Html.ActionLink("回到列表", "Index", "SystemUser")
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('.confirm-delete').click(function (e) {
                e.preventDefault();
                $('#ConfirmModal').modal('show');
            });
        });
    </script>
}
