@model twMVCWorkshop.Models.Category

@{
    ViewBag.Title = "Delete";
    
    var deletable = Model.Article.Count.Equals(0);
}

<h3>分類管理</h3>
<fieldset>
    <legend>刪除</legend>

    <dl>
        <dt>@Html.LabelFor(model => model.Name, new { @class = "control-label" })</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.LabelFor(model => model.CreateUser, new { @class = "control-label" })</dt>
        <dd>@Html.DisplayFor(model => model.CreateUser)</dd>

        <dt>@Html.LabelFor(model => model.CreateDate, new { @class = "control-label" })</dt>
        <dd>@Html.DisplayFor(model => model.CreateDate)</dd>

        <dt>@Html.LabelFor(model => model.UpdateUser, new { @class = "control-label" })</dt>
        <dd>@Html.DisplayFor(model => model.UpdateUser)</dd>

        <dt>@Html.LabelFor(model => model.UpdateDate, new { @class = "control-label" })</dt>
        <dd>@Html.DisplayFor(model => model.UpdateDate)</dd>
    </dl>

</fieldset>

@using (Html.BeginForm())
{
    <div id="ConfirmModal" class="modal small hide fade" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="ConfirmModalLabel">刪除確認</h3>
        </div>
        <div class="modal-body">
            <p class="error-text">
                @(deletable ? "是否確定要刪除此分類?" : "有文章使用此分類, 無法刪除.")
            </p>
        </div>
        <div class="modal-footer">
            @Html.AntiForgeryToken()
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <input type="submit" class="btn btn-danger" value="刪除" @(deletable ? "" : "disabled") />
        </div>
    </div>
}

<div class="form-actions">
    <a href="#" class="confirm-delete btn btn-success" data-toggle="modal">刪除</a> | 
    @Html.ActionLink("回到列表", "Index", "Category")
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('.confirm-delete').click(function (e) {
                e.preventDefault();
                $('#ConfirmModal').modal('show');
            });
        });
    </script>
}

